@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Orbitron:wght@400;900&family=Satisfy&display=fallback');

@font-face {
	font-family: "SDGlitchRobotDemo";
	src: url("../fonts/Sdglitchrobotdemo-GOPdO.ttf");
}

@keyframes glitch-1 {
	0% {
		opacity: 0;
		transform: translateX(calc(-2 * var(--gap-horizontal)));
	}
	1.5% {
		opacity: 1;
		clip-path: inset(50% 10% 50% 0%);
	}
	3% {
		clip-path: inset(60% 10% 38% 0%);
	}
	5% {
		clip-path: inset(65% 10% 35% 0%);
	}
	7% {
		clip-path: inset(25% 10% 75% 0%);
	}
	9% {
		clip-path: inset(68% 10% 30% 0%);
	}
	11% {
		clip-path: inset(75% 10% 25% 0%);
	}
	13% {
		clip-path: inset(10% 10% 88% 0%);
	}
	15% {
		clip-path: inset(96% 10% 3% 0%);
	}
	17% {
		clip-path: inset(80% 10% 20% 0%);
	}
	19% {
		clip-path: inset(2% 10% 97% 0%);
	}
	21% {
		opacity: 1;
		clip-path: inset(30% 10% 69% 0%);
	}
	21.1%, 100% {
		opacity: 0;
		transform: translateX(0);
	}
}

@keyframes glitch-2 {
	0% {
		opacity: 0;
		transform: translateX(calc(2 * var(--gap-horizontal)));
	}
	1% {
		opacity: 1;
		clip-path: inset(40.5% 0% 58.5% 10%);
	}
	2% {
		clip-path: inset(50% 0% 50% 10%);
	}
	4% {
		clip-path: inset(55.5% 0% 42.5% 10%);
	}
	6% {
		clip-path: inset(1.5% 0% 97% 10%);
	}
	8% {
		clip-path: inset(28.5% 0% 70.5% 10%);
	}
	10% {
		clip-path: inset(65.5% 0% 30.5% 10%);
	}
	12% {
		clip-path: inset(20.5% 0% 79.5% 10%);
	}
	14% {
		clip-path: inset(2.5% 0% 94.5% 10%);
	}
	16% {
		clip-path: inset(74.5% 0% 25.5% 10%);
	}
	18% {
		clip-path: inset(95.5% 0% 2.5% 10%);
	}
	20% {
		opacity: 1;
		clip-path: inset(60.5% 0% 37.5% 0%);
	}
	20.1%, 100% {
		opacity: 0;
		transform: translateX(0);
	}
}

@keyframes glitch-3 {
	0% {
		opacity: 0;
		transform: translateY(calc(-2 * var(--gap-vertical)));
	}
	2.5% {
		opacity: 1;
		clip-path: inset(39% 0% 61% 0%);
	}
	3.5% {
		clip-path: inset(49% 0% 51% 0%);
	}
	4.5% {
		clip-path: inset(54% 0% 46% 0%);
	}
	6.5% {
		clip-path: inset(34% 0% 65% 0%);
	}
	8.5% {
		clip-path: inset(57% 0% 41% 0%);
	}
	10.5% {
		clip-path: inset(64% 0% 36% 0%);
	}
	12.5% {
		clip-path: inset(19% 0% 78% 0%);
	}
	14.5% {
		clip-path: inset(1% 0% 96% 0%);
	}
	16.5% {
		clip-path: inset(71% 0% 29% 0%);
	}
	18.5% {
		clip-path: inset(4% 0% 96% 0%);
	}
	20.5% {
		opacity: 1;
		clip-path: inset(89% 0% 11% 0%);
	}
	20.6%, 100% {
		opacity: 0;
		transform: translateY(0);
	}
}

@keyframes glitch-x {
	0% {
		opacity: 0;
		transform: translateX(calc(-1 * var(--gap-vertical)));
	}
	3% {
		opacity: 1;
		clip-path: inset(39% 20% 58% 0%);
	}
	5% {
		clip-path: inset(49% 20% 41% 0%);
	}
	7% {
		clip-path: inset(54% 20% 44% 0%);
	}
	8.5% {
		clip-path: inset(34% 20% 56% 0%);
	}
	10% {
		clip-path: inset(57% 20% 41% 0%);
	}
	11% {
		clip-path: inset(64% 20% 21% 0%);
	}
	13% {
		clip-path: inset(19% 20% 79% 0%);
	}
	15% {
		clip-path: inset(81% 20% 16% 0%);
	}
	17.5% {
		clip-path: inset(71% 20% 27% 0%);
	}
	19.5% {
		clip-path: inset(4% 20% 95% 0%);
	}
	21.5% {
		opacity: 1;
		clip-path: inset(89% 20% 8% 0%);
	}
	22%, 100% {
		opacity: 0;
		transform: translateX(0);
	}
}

@keyframes glitch-y {
	0% {
		opacity: 0;
		transform: translateY(calc(-1 * var(--gap-vertical)));
	}
	2.5% {
		opacity: 1;
		clip-path: inset(41% 0% 56% 20%);
	}
	3.5% {
		clip-path: inset(47% 0% 45% 20%);
	}
	4.5% {
		clip-path: inset(57% 0% 40% 20%);
	}
	6.5% {
		clip-path: inset(3% 0% 90% 20%);
	}
	8.5% {
		clip-path: inset(82% 0% 13% 20%);
	}
	10.5% {
		clip-path: inset(66% 0% 30% 20%);
	}
	12.5% {
		clip-path: inset(14% 0% 81% 20%);
	}
	14.5% {
		clip-path: inset(2% 0% 96% 20%);
	}
	16.5% {
		clip-path: inset(74% 0% 25% 20%);
	}
	18.5% {
		clip-path: inset(6% 0% 92% 20%);
	}
	20.5% {
		opacity: 1;
		clip-path: inset(87% 0% 11% 20%);
	}
	22%, 100% {
		opacity: 0;
		transform: translateY(0);
	}
}

@keyframes opa {
	0% {opacity: 0}
	100% {opacity: 1}
}


@media (min-width: 768px) {
	
	:root {
		--fontSL: min(7vmax, 84px);
	}

	body {
		background: #161616 url("../imgs/4575169-cityscape-night-guilty-crown-anime-tokyo.jpg") center/cover no-repeat fixed;
		position: fixed;
		inset: 0;
		margin: 0;
		padding: 0;
	}
	
	body::after {
		content: "";
		position: absolute;
		background-color: #000000;
		inset: 0;
		opacity: 0.6;
		z-index: -10;
	}
	
	/* Glitch effect */
	
	div {
		z-index: -1;
		opacity: 0;
		position: absolute;
		background: url("../imgs/4575169-cityscape-night-guilty-crown-anime-tokyo.jpg") center/cover no-repeat;
		inset: 0px;
		--gap-horizontal: 10px;
		--gap-vertical: 5px;
		--time-anime: 8s;
		--delay-anime: 0.1s;
		--blend-mode-1: lighten;
		--blend-mode-2: none;
		--blend-mode-3: lighten;
		--blend-mode-4: none;
		--blend-mode-5: lighten;
		--blend-color-1: rgba(191, 64, 66, 0.3);
		--blend-color-2: transparent;
		--blend-color-3: rgba(71, 171, 204, 0.3);
		--blend-color-4: transparent;
		--blend-color-5: rgba(255, 246, 0, 0.3);
	}
	
	div.glitch1 {
		background-color: var(--blend-color-1);
		background-blend-mode: var(--blend-mode-1);
	}
	
	div.glitch2 {
		background-color: var(--blend-color-2);
		background-blend-mode: var(--blend-mode-2);
	}
	
	div.glitch3 {
		background-color: var(--blend-color-3);
		background-blend-mode: var(--blend-mode-3);
	}
	
	div.glitch4 {
		background-color: var(--blend-color-4);
		background-blend-mode: var(--blend-mode-4);
	}
	
	div.glitch5 {
		background-color: var(--blend-color-5);
		background-blend-mode: var(--blend-mode-5);
	}
	
	h1:hover ~ div.glitch1 {
		animation: glitch-1 var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch2 {
		animation: glitch-y var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch3 {
		animation: glitch-3 var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch4 {
		animation: glitch-x var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch5 {
		animation: glitch-2 var(--time-anime) ease-in var(--delay-anime);
	}

	/* Main style */
	header {
		display: flex;
		justify-content: center;
	}

	h1 {
		position: fixed;
		display: flex;
		bottom: 50%;
		margin-right: 0.5rem;
		justify-content: center;
		font-family: "Jockey One", sans-serif;
		font-kerning: normal;
		text-align: center;
		font-variant: small-caps;
	}

	h1 a {
		text-decoration: none;
		color: rgb(255, 255, 255);
		opacity: 0.6;
	}

	.one {
		font-size: var(--fontSL);
	}

	.two {
		font-size: calc(2 * var(--fontSL));
	}

	.two::first-letter {
		font-size: calc(3 * var(--fontSL));
	}

	h1 span.one {
		margin-bottom: 1.5em;
		margin-left: 0.9em;
		line-height: 1em;
		z-index: 10;
	}
	
	h1 span.two {
		position: absolute;
		bottom: 0;
		line-height: 1em;
	}
	
	h1 span.two::first-letter {
		font-style: italic;
		margin-right: 0.08em;
	}
	
	h1 span.two::before {
		content: "";
		position: absolute;
		bottom: 0;
		margin-bottom: 0.65em;
		margin-left: 1.05em;
		width: 2.8em;
		height: 0.08em;
		background-color: rgba(255, 255, 255, 0.6);
		transform: skew(-45deg);
	}
	
	h1:hover a {
		color: rgba(255, 255, 255, 0.95);
		transition: 0.1s ease-out;
		opacity: 1;
		text-shadow:
			6px -6px rgba(191, 64, 66, 0.9),
			12px -12px rgba(64, 179, 191, 0.85),
			18px -18px rgba(255, 246, 0, 0.8);
	}
	
	h1:hover span.two:before {
		background-color: rgba(255, 255, 255, 0.95);
		transition: 0.1s ease-out;
		box-shadow: 
			6px -6px rgba(191, 64, 66, 0.9),
			12px -12px rgba(64, 179, 191, 0.85),
			18px -18px rgba(255, 246, 0, 0.8);;
	}
	
	article {
		font-size: min(2.2vmax, 26.4px);
		position: fixed;
		inset: 48% 0% auto 0%;
		color: rgba(255, 255, 255, 0.8);
		text-align: center;
		margin: 0px;
		font-family: "Satisfy", cursive;
	}
	
	article p {
		margin: 0px;
	}
	
	nav {
		position: fixed;
		top: 58%;
	}
	
	nav a {
		font-size: min(3vmax,36px);
		display: flex;
		text-decoration: none;
		color: rgba(255, 255, 255, 0.8);
		justify-content: center;
		padding: 0.5em 0;
		margin: 0.8em 0;
		font-family: "SDGlitchRobotDemo", sans-serif;
		text-transform: capitalize;
		text-align: center;
	}
	
	nav a::before {
		content: url("../imgs/arrow_icon.svg");
		width: 0.7em;
		margin-right: 1em;
		margin-top: 0.2em;
		font-size: 0.5em;
		opacity: 0;
	}
	
	nav a::after {
		content: url("../imgs/arrow_icon2.svg");
		width: 0.7em;
		margin-left: 1em;
		margin-top: 0.2em;
		font-size: 0.5em;
		opacity: 0;
	}
	
	nav a:hover::before, nav a:hover::after {
		animation: opa 1s infinite alternate-reverse;
	}
	
	footer {
		position: fixed;
		inset: auto 0% 0% 0%;
		text-align: center;
		font-family: Orbitron, sans-serif;
		font-size: min(1.2vmax, 14px);
		color: rgba(255, 255, 255, 0.8);
	}
}

@media (max-width: 767px) {
	
	:root {
		--fontS: min(5.4vmax, 46px);
	}

	body {
		background: #161616 url("../imgs/4575169-cityscape-night-guilty-crown-anime-tokyo.jpg") center/cover no-repeat fixed;
		position: fixed;
		inset: 0;
		margin: 0;
		padding: 0;
	}
	
	body::after {
		content: "";
		position: absolute;
		background-color: #000000;
		inset: 0;
		opacity: 0.6;
		z-index: -10;
	}
	
	/* Glitch effect */
	
	div {
		z-index: -1;
		opacity: 0;
		position: absolute;
		background: url("../imgs/4575169-cityscape-night-guilty-crown-anime-tokyo.jpg") center/cover no-repeat;
		inset: 0px;
		--gap-horizontal: 10px;
		--gap-vertical: 5px;
		--time-anime: 8s;
		--delay-anime: 0.1s;
		--blend-mode-1: lighten;
		--blend-mode-2: none;
		--blend-mode-3: lighten;
		--blend-mode-4: none;
		--blend-mode-5: lighten;
		--blend-color-1: rgba(191, 64, 66, 0.3);
		--blend-color-2: transparent;
		--blend-color-3: rgba(71, 171, 204, 0.3);
		--blend-color-4: transparent;
		--blend-color-5: rgba(255, 246, 0, 0.3);
	}
	
	div.glitch1 {
		background-color: var(--blend-color-1);
		background-blend-mode: var(--blend-mode-1);
	}
	
	div.glitch2 {
		background-color: var(--blend-color-2);
		background-blend-mode: var(--blend-mode-2);
	}
	
	div.glitch3 {
		background-color: var(--blend-color-3);
		background-blend-mode: var(--blend-mode-3);
	}
	
	div.glitch4 {
		background-color: var(--blend-color-4);
		background-blend-mode: var(--blend-mode-4);
	}
	
	div.glitch5 {
		background-color: var(--blend-color-5);
		background-blend-mode: var(--blend-mode-5);
	}
	
	h1:hover ~ div.glitch1 {
		animation: glitch-1 var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch2 {
		animation: glitch-y var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch3 {
		animation: glitch-3 var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch4 {
		animation: glitch-x var(--time-anime) ease-in var(--delay-anime);
	}
	h1:hover ~ div.glitch5 {
		animation: glitch-2 var(--time-anime) ease-in var(--delay-anime);
	}

	/* Main style */
	header {
		display: flex;
		justify-content: center;
	}

	h1 {
		position: fixed;
		display: flex;
		bottom: 50%;
		margin-right: 0.5rem;
		justify-content: center;
		font-family: "Jockey One", sans-serif;
		text-align: center;
		font-variant: small-caps;
		font-kerning: normal;
		color: rgba(255, 255, 255, 0.6);
	}

	h1 a {
		text-decoration: none;
		color: rgb(255, 255, 255);
		opacity: 0.6;
	}

	.one {
		font-size: var(--fontS);
	}

	.two {
		font-size: calc(2 * var(--fontS));
	}

	.two::first-letter {
		font-size: calc(3 * var(--fontS));
	}

	h1 span.one {
		margin-bottom: 1.5em;
		margin-left: 0.9em;
		line-height: 1em;
		z-index: 10;
	}
	
	h1 span.two {
		position: absolute;
		bottom: 0;
		line-height: 1em;
	}
	
	h1 span.two::first-letter {
		font-style: italic;
		margin-right: 0.7rem;
	}
	
	h1 span.two::before {
		content: "";
		position: absolute;
		bottom: 0;
		margin-bottom: 3.8rem;
		margin-left: 6.05rem;
		width: 2.8em;
		height: 0.08em;
		background-color: rgba(255, 255, 255, 0.6);
		transform: skew(-45deg);
	}
	
	h1:hover a {
		color: rgba(255, 255, 255, 0.95);
		opacity: 1;
		transition: 0.1s ease-out;
		text-shadow:
			6px -6px rgba(191, 64, 66, 0.9),
			12px -12px rgba(64, 179, 191, 0.85),
			18px -18px rgba(255, 246, 0, 0.8);
	}
	
	h1:hover span.two:before {
		background-color: rgba(255, 255, 255, 0.95);
		transition: 0.1s ease-out;
		box-shadow: 
			6px -6px rgba(191, 64, 66, 0.9),
			12px -12px rgba(64, 179, 191, 0.85),
			18px -18px rgba(255, 246, 0, 0.8);;
	}
	
	article {
		font-size: min(1.7vmax, 14.5px);
		position: fixed;
		inset: 48% 0% auto 0%;
		color: rgba(255, 255, 255, 0.8);
		text-align: center;
		margin: 0px;
		font-family: "Satisfy", cursive;
	}
	
	article p {
		margin: 0px;
	}
	
	nav {
		position: fixed;
		top: 58%;
	}
	
	nav a {
		font-size: min(3vmax,36px);
		display: flex;
		text-decoration: none;
		color: rgba(255, 255, 255, 0.8);
		justify-content: center;
		padding: 0.5em 0;
		margin: 0.8em 0;
		font-family: "SDGlitchRobotDemo", sans-serif;
		text-transform: capitalize;
		text-align: center;
	}
	
	nav a::before {
		content: url("../imgs/arrow_icon.svg");
		width: 0.7em;
		margin-right: 1em;
		margin-top: 0.2em;
		font-size: 0.5em;
		opacity: 0;
	}
	
	nav a::after {
		content: url("../imgs/arrow_icon2.svg");
		width: 0.7em;
		margin-left: 1em;
		margin-top: 0.2em;
		font-size: 0.5em;
		opacity: 0;
	}
	
	nav a:hover::before, nav a:hover::after {
		animation: opa 1s infinite alternate-reverse;
	}
	
	footer {
		position: fixed;
		inset: auto 0% 0% 0%;
		text-align: center;
		font-family: Orbitron, sans-serif;
		font-size: min(1.2vmax, 14px);
		color: rgba(255, 255, 255, 0.8);
	}
}